# ref: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# ref: https://www.golinuxcloud.com/dockerignore-file/
setup
README.md
Makefile
Dockerfile
Dockerfile.dev
.cache_ggshield
/ops/docker/pin
.git
*/k8s*
*/docker-*
*/.tool-versions
*/.editorconfig
*/.env*
*/.idea*
**/*.DS_Store
**/*.gitignore

# symfony default
**/temp*
**/.temp*
/src/.web-server-pid
/src/build/
/src/phpunit.xml
/src/public/var/
/src/public/bundles/
/src/public/sitemap*.xml

# pimcore
/src/.git
/src/.env
/src/.env.local
/src/.env.local.php
/src/.env.*.local
/src/docker-compose.yml
/src/docker-compose.override.yml
/src/config/packages/cache.yaml
/src/config/pimcore/constants.php
/src/cache

!/src/config/local
/src/config/local/*

/src/dev/

/src/var/*
!/src/var/.gitkeep
!/src/var/classes/
/src/var/classes/DataObject
!/src/var/config
/src/var/config/system.yml
/src/var/config/debug-mode.php
/src/var/config/maintenance.php
/src/var/config/tag-manager.php

/src/vendor/
/src/node_modules

# PHP-CS-Fixer
/src/.php-cs-fixer.php
/src/.php-cs-fixer.cache

# PhpStorm / IDEA
/src/.idea
# NetBeans
/src/nbproject

# temp
/src/.temp