# files
.idea
.DS_Store
setup
Dockerfile.dev
.cache_ggshield
/ops/docker/pin
/ops/.env.dev
/ops/.env.prod
/ops/db-dev.yaml
/ops/db-prod.yaml
/ops/system.yml
/ops/cache.yml

# ops folder
_
/ops/kubernetes

# src folder
/src/.github
/src/.docker
/src/cache
/src/.env
/src/docker-compose.yml
/src/config/packages/cache.yaml